.btn {
  padding: 10px 27px;
  border-radius: 5px;

  &--primary {
    background-color: $primaryColor;
    color: $white;
  }

  &--outline {
    background-color: transparent;
    color: $primaryColor;
  }

  @media (hover: hover) {
    &:hover {
    }
  }

  &:active {
    opacity: 0.9;
  }

}


.close {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 25px;
  height: 25px;
  transition: $animation_speed;


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    height: 2px;
    margin-top: -1px;
    background-color: rgba($color: red, $alpha: 1.0);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  @media (hover: hover) {
    &:hover {
      transform: rotate(180deg);
    }
  }
}