.btn {
  padding: 10px 27px;
  border-radius: 5px;

  &--primary {
    background-color: $primaryColor;
    color: $white;
  }

  &--outline {
    background-color: transparent;
    color: $primaryColor;
  }

  @media (hover: hover) {
    &:hover {
    }
  }

  &:active {
    opacity: 0.9;
  }

}