.header {
  flex: 0 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid $secondaryColor;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 25rem;
  }

  &__info {
    display: flex;
    align-self: center;
    justify-content: space-around;
    gap: 6rem;
    margin-inline: 9rem;

    & > div {
      display: grid;
      gap: 0.4rem;
    }

    @media screen and (max-width: 1400px) {
      margin-inline: 4rem;
    }

    @media screen and (max-width: 1200px) {
      margin-inline: 2rem;
    }

    @media screen and (max-width: 992px) {
      display: none;
    }

  }

  &__address {
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: 'Spectral', sans-serif;
    color: #363636;
    text-decoration: underline;
    text-decoration-color: $secondaryColor;
    font-weight: 700;
  }

  &__action {
    display: flex;
    align-self: center;
    gap: 1rem;

    @media screen and (min-width: 1200px) {
      margin-right: 2.6rem;
    }

    @media screen and (max-width: 1200px) {
      position: fixed;
      right: 2.6rem;
      bottom: 1.6rem;
      flex-direction: column;
    }

  }

  &__search {
  }

  &__cart {
  }

  &__btn {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

}

.nav {
  display: flex;
  border-bottom: 1px solid rgba($color: $primaryColor, $alpha: 0.1);

  @media screen and (max-width: 992px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    transform: translateY(100%);
    z-index: 99;
    transition: $animation_speed;
  }

  &.active {
    transform: translateY(0);

  }

  &__inner {
    @media screen and (max-width: 992px) {
      height: 100%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    @media screen and (max-width: 1200px) {
      gap: 2rem;
    }

    @media screen and (max-width: 992px) {
      height: 100%;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__item {
    position: relative;

    & > div {
      display: flex;
      align-items: center;
      padding: 2rem 0;

      a {
        display: block;
        font-weight: 600;
        color: #3d3d3d;
        transition: $animation_speed;

        @media (hover: hover) {
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }

    @media (hover: hover) {
      &:hover {
        .nav__arrow {
          transform: rotate(180deg);
        }

        .nav__submenu {
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }
  }

  &__arrow {
    padding: .5rem;
    margin-top: 4px;
    transition: $animation_speed;
  }

  &__submenu {
    min-width: 290px;
    position: absolute;
    border: 1px solid rgba($color: #3d3d3d, $alpha: 0.3);
    transform: translateY(-30px);
    border-radius: 5px;
    opacity: 0;
    background-color: $white;
    transition: $animation_speed;

    @media screen and (max-width: 992px) {
      display: none;
    }


    li {

      a {
        display: block;
        padding: .5rem 1rem;
        color: #3d3d3d;
        transition: $animation_speed;

        @media (hover: hover) {
          &:hover {
            background: rgba($color: #3d3d3d, $alpha: 0.05);
          }
        }
      }

    }
  }

  &__close {
    @media screen and (min-width: 992px) {
      display: none;
    }
  }

}

.burger {
  display: block;
  width: 28px;
  height: 28px;
  position: relative;

  @media screen and (min-width: 992px) {
    display: none;
  }

  &::before,
  &::after, span {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: $primaryColor;
    transition: .25s;
  }

  &::before {
    transform: translateY(-5px);
  }

  &::after {
    transform: translateY(5px);
  }

  &.active {

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    span {
      opacity: 0;
    }

  }
}