.reviews {
  padding: 80px 0;

  &__row {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__col {

    &:first-child {
      max-width: 246px;
    }

  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    color: #000;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }






}