@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/Montserrat-Italic-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2"), url("../fonts/Montserrat-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Spectral;
	font-display: swap;
	src: url("../fonts/Spectral-Bold.woff2") format("woff2"), url("../fonts/Spectral-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Spectral;
	font-display: swap;
	src: url("../fonts/Spectral-ExtraLight.woff2") format("woff2"), url("../fonts/Spectral-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Spectral;
	font-display: swap;
	src: url("../fonts/Spectral-Medium.woff2") format("woff2"), url("../fonts/Spectral-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Spectral;
	font-display: swap;
	src: url("../fonts/Spectral-Regular.woff2") format("woff2"), url("../fonts/Spectral-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Spectral;
	font-display: swap;
	src: url("../fonts/Spectral-SemiBold.woff2") format("woff2"), url("../fonts/Spectral-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
